*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

/* imposto la viewport per mobile*/
.big-container{
    max-width: 100%;
    
    margin-left: auto;
    margin-right: auto;
    
}
nav{
    width: 100%;
    background-color: rgb(0, 132, 253) ;
}
#nav-container{
    background-color:rgb(0, 132, 253) ;
   
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-left: auto;
    margin-right: auto; */
    
}

#logo{
    height: 22px;
    width: 40px; /* Regolo la larghezza del logo */
    margin-right: 10px
    background-image: url(/assets/img/logo.png);
    /* border: dotted; */
    background-size: cover;
   
    
}

#hmenu{
    
    font-size: 1.5rem;
    cursor: pointer;
    /* border: dotted; */
   
    color: black;
}

/* prima section */
.first-section{
    margin-top: 20px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color:white;
}


#frst-card{
    
    background-color: rgb(181, 221, 255);
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 12px;
    padding-top: 15px;
    border-radius: 12px;

}
#frst-title{
    
    width: 90px;
    height: 12px;
    border: dotted red;
    margin-left: auto;
    margin-right: auto;
}
.frst-text{
    width: 50%;
    height: 45px;
    border: dotted green;
    margin-top: 14px;
    margin-left: auto;
    margin-right: auto;

}
.frst-button{
    margin-top: 14px;
    
    width: 78px;
    height: 15px;
    background-color: rgb(0, 132, 253) ;
    margin-left: auto;
    margin-right: auto;
}
.frst-image{
    margin-top: 14px;

    width: 72px;
    height: 100px;
    border: dotted;
    margin-left: auto;
    margin-right: auto;
   
}

.cards-container{
    background-color: white;
    width: 100%;
    
}

.card{
    padding-top: 15px;

    height: 130px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 12px;
    background-color:rgb(181, 221, 255);
    border-radius: 12px;
}

.image{
    
    height: 30px;
    width: 30px;
    border: dotted green;
    margin-left: auto;
    margin-right: auto;
}

.title{
    margin-top: 12px;

    height: 9px;
    width: 45px;
    border: dotted red;
    margin-left: auto;
    margin-right: auto;

}
.text{
    margin-top: 12px;

    height: 9px;
    width: 45px;
    border: dotted;
    margin-left: auto;
    margin-right: auto;
    
}

/* fine prima section */



/* seconda section */
.secnd-section{
    background-color: rgb(151, 146, 228);
   
}

.scnd-up{
    /* background-color: rgb(39, 30, 176); */
    /* background-image: url(/assets/img/planning1.png); */
    background-size: cover;
    width: 137px;
    height: 130px;
    margin-left: auto;
    margin-right: auto;
   
    border: dotted black;
}

.planning1{
    background-size: cover;
    width: 137px;
    height: 130px;
}
.title{
    
    color: white;
    border: dotted black;
}

.scnd-down{
    background-color: white;
    width: 137px;
    height: 130px;
    border-radius: 12px;
    margin-left: auto;
    margin-right: auto;
    
}

/* fine seconda section */


/* inizio testimonial section */

.testimonial-up{
    background-color: white ;
    width: 130px;
    height: 210px;
    
    margin-left: auto;
    margin-right: auto;
    
}


.t-card{
    background-color: rgb(151, 146, 228);
    width: 130px;
    height: 210px;
    border-radius: 12px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}
/* fine testimonial section */

/* inizio benefits */
.benefits-up{
    background-color: rgb(151, 146, 228);
    color: white;
}
.benefits-down{
    background-color: rgb(151, 146, 228);
    padding: 15px;
}
.benefits-card{
    padding-top: 15px;

    height: 130px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 12px;
    background-color:white;
    border-radius: 12px;
    margin-bottom: 15px;
}
/* fine benefits */

/* inizio about us */

.aus-up{
    background-color: white;
    width: 157px;
    height: 420px;
    border: dotted;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}

.aus-down{
    background-color: white;

    width: 156px;
    border: dotted;
    margin-left: auto;
    margin-right: auto;
}

/* fine about us */


/* Inizio last section */

.last-up{
    background-color: rgb(151, 146, 228);
    width: 157px;
    height: 130px;
    margin-left: auto;
    margin-right: auto;
}

.last-down{
    background-color: rgb(151, 146, 228);
    width: 157px;
    height: 130px;
    margin-left: auto;
    margin-right: auto;
}
/* fine last section */

/* inizio footer */
.footer{
    background-color: rgb(51, 51, 51);
    height: 80px;
    width: 157px;
    margin-left: auto;
    margin-right: auto
}
/* fine footer */





.big-container{
    max-width: 768px;
        
    margin-left: auto;
    margin-right: auto;
    
    }

#nav-container{
    max-width: 137px;
    gap: 65%;  
    margin-left: auto;
    margin-right: auto;
}   

/* 
il layout va stilizzato inizialmente senza media query solo per la visualizzazione mobile, successivamente si aggiungo le media query per gestire tablet e desktop
*/

@media screen and (min-width: 768px) {
    .big-container{
        max-width: 768px;
            
        margin-left: auto;
        margin-right: auto;
        
        }
    
    #nav-container{
        max-width: 768px;
        gap: 65%;  
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 1200px) {
    .big-container{
        max-width: 1200px;
            
        margin-left: auto;
        margin-right: auto;
        
        }
    
    #nav-container{
        max-width: 1200px;
        gap: 65%;  
        margin-left: auto;
        margin-right: auto;
    }   
}