/* Regole di Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

/* imposto la viewport per mobile*/
.big-container{
    max-width: 100%;
    
    margin-left: auto;
    margin-right: auto;
    
}

#nav-container{
    background-color:rgb(0, 132, 253) ;
    display: flex;
    gap: ;
    width: 100%;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

#logo{
    height: 30px;
    width: 15px;
    border: dotted;
    margin-left: auto
    
}

#hmenu{
    
    height: 10px;
    width: 8px;
    border: dotted;
    margin-right: auto;
}

/* prima section */
.first-section{
    margin-top: 20px;
    max-width: 112px;
    margin-left: auto;
    margin-right: auto;
    background-color:white;
}


#frst-card{
    
    background-color: rgb(181, 221, 255);
    max-width: 112px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 12px;
    padding-top: 15px;
    

}
#frst-title{
    
    width: 90px;
    height: 12px;
    border: dotted red;
    margin-left: auto;
    margin-right: auto;
}
#frst-text{
    width: 90px;
    height: 45px;
    border: dotted green;
    margin-top: 14px;
    margin-left: auto;
    margin-right: auto;

}
#frst-button{
    margin-top: 14px;
    
    width: 78px;
    height: 15px;
    background-color: rgb(0, 132, 253) ;
    margin-left: auto;
    margin-right: auto;
}
#frst-image{
    margin-top: 14px;

    width: 72px;
    height: 100px;
    border: dotted;
    margin-left: auto;
    margin-right: auto;
   
}

.fcard-container{
    background-color: white;
    
    
}

.cards{
    padding-top: 15px;

    background-color: rgb(181, 221, 255);
    height: 130px;
    max-width: 112px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 12px;
    background-color:rgb(181, 221, 255);
}

.image{
    
    height: 30px;
    width: 30px;
    border: dotted green;
    margin-left: auto;
    margin-right: auto;
}

.title{
    margin-top: 12px;

    height: 9px;
    width: 45px;
    border: dotted red;
    margin-left: auto;
    margin-right: auto;

}
.text{
    margin-top: 12px;

    height: 9px;
    width: 45px;
    border: dotted;
    margin-left: auto;
    margin-right: auto;
    
}


/* fine prima section */



/* seconda section */
.scnd-up{
    background-color: rgb(151, 146, 228);
}

.scnd-down{
    background-color: rgb(151, 146, 228);
}
/* fine seconda section */


/* inizio testimonial section */

.testimonial-up{
    background-color: white ;
}

.t-card{
    background-color: white;
}
/* fine testimonial section */

/* inizio benefits */
.benefits-up{
    background-color: rgb(151, 146, 228);
}
.benefits-down{
    background-color: rgb(151, 146, 228);
}
/* fine benefits */

/* inizio about us */

.aus-up{
    background-color: white;
}

.aus-down{
    background-color: white;
}

/* fine about us */


/* Inizio last section */

.last-up{
   background-color: rgb(151, 146, 228);
}

.last-down{
    background-color: rgb(151, 146, 228);
}
/* fine last section */

/* inizio footer */
.footer{
    background-color: rgb(51, 51, 51);
}
/* fine footer */






/* Media query */
@media screen and (min-width: 137px) {
    .big-container{
        max-width: 768px;
            
        margin-left: auto;
        margin-right: auto;
        
        }
    
    #nav-container{
        max-width: 137px;
        gap: 65%;  
        margin-left: auto;
        margin-right: auto;
    }   
}

@media screen and (min-width: 768px) {
    .big-container{
        max-width: 768px;
            
        margin-left: auto;
        margin-right: auto;
        
        }
    
    #nav-container{
        max-width: 768px;
        gap: 65%;  
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 1200px) {
    .big-container{
        max-width: 1200px;
            
        margin-left: auto;
        margin-right: auto;
        
        }
    
    #nav-container{
        max-width: 1200px;
        gap: 65%;  
        margin-left: auto;
        margin-right: auto;
    }   
}